export DATABASE_URL=ecto://{{ phoenix_postgres_user }}:{{ phoenix_postgres_password }}@localhost:5432/{{ phoenix_postgres_database }}
export SECRET_KEY_BASE={{secret_key_base}}
export MIX_ENV=prod
export PORT=8002
